
---
const { variant= "primary", size = "medium" } = Astro.props; 
const buttonStyling = "tailwind classes her"; 

const variantClasses = {

"primary": "bg-blue-500 hover:bg-blue-700 text-white",

"secondary": "bg-slate-300 hover:bg-slate-500"

};

const sizeClasses = {

"large": "p-12 text-xl",

"medium": "p-6 text-xl",

"small": "p-2"

};

---
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
